@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap");

:root {
  --ff-open-sans: "Open Sans", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --fw-reg: 400;
  --fw-bold: 700;

  --clr-bg: #051e34;
  --clr-text: #ffffff;
  --clr-active: #669df6;
  --clr-hover: #476282;

  --opacity-light: 0.8;
  --opacity-gray: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--ff-roboto);
}

.container {
  max-width: 100%;
  display: grid;
  grid-template-columns: 260px 1fr 2fr 1fr;
  grid-template-rows: 70px 1fr;
}

.header {
  background-color: aquamarine;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header .search-bar {
  margin: 0 auto;
  display: flex;
  width: 20rem;
  border: 2px solid #efebeb;
  border-radius: 0.8rem;
}

.header .search-bar:focus-within {
  border-color: #669df6;
}

.header .search-bar input {
  outline: 0;
  border: none;
  width: 100%;
  padding: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.header .search-bar i {
  padding: 0.7rem 0 0.7rem 0.7rem;
  background-color: var(--clr-text);
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}

.nav-right-side {
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
}

.nav-right-side i {
  font-size: 1.2rem;
}

.nav-right-side .profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  background-color: var(--clr-bg);
  grid-column: 1 / 2;
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.29rem;
  border-bottom: 1px solid rgb(205, 199, 199);
}

.sidebar .logo img {
  width: 1.7rem;
  margin-right: 1.5rem;
}

.sidebar .logo .logo-text {
  font-family: var(--ff-roboto);
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-right: 3.5rem;
}

#hamburger {
  display: none;
}

.menu-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 80%;
  overflow-y: scroll;
}

.menu-contents .menu-items li {
  list-style: none;
}

.menu-contents .menu-items li a {
  text-decoration: none;
  color: var(--clr-text);
}

.nav-link .navlink-icon {
  opacity: var(--opacity-light);
}

.menu-items.submenu li a {
  opacity: var(--opacity-light);
}

.menu-items li img {
  width: 25px;
}

.menu-items li i {
  font-size: 25px;
}

.menu-items {
  margin: 0;
  padding: 0 1rem;
}

.menu-items .item {
  margin: 0.5rem 0;
}

.stack-title {
  font-size: 1rem;
  display: inline;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.stack-title i {
  padding: 0;
}

.submenu.hide {
  display: none;
}

.submenu .sub-items {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.sub-items:hover {
  background-color: var(--clr-hover);
}

.sub-items.mongo {
  padding: 0;
}

.sub-item {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.3rem;
}

.sub-item:hover {
  background-color: var(--clr-hover);
}

.nav-link.submenu-item {
  display: flex;
  border-radius: 0.3rem;
  align-items: center;
}

.nav-link.submenu-item:hover {
  background-color: var(--clr-hover);
}

.nav-link .navlink-icon {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  font-size: 0.9rem;
  width: fit-content;
}

.nav-link a {
  padding: 0.3rem;
  font-size: 1rem;
}

.settings {
  margin-top: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-item {
  list-style: none;
}

.settings-link {
  text-decoration: none;
  font-size: 1rem;
  color: var(--clr-text);
  opacity: var(--opacity-light);
  padding: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.settings-link i {
  font-size: 1.5rem;
}

.article {
  background-color: beige;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}
